[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:MarkelCA/nvim.git
[submodule "config/tmux/plugins/catppuccin"]
	path = config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
